.entry-page {
  background: url('/background.jpg') no-repeat;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.entry-page .card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 8px;
  overflow: auto;
  box-shadow: 0 0 5px 5px white;
}

.card .card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 400px;
}

.card .entry-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: 90%;
}

.entry-form h2 {
  text-align: center;
}
.entry-form .form-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.form-data input,
.form-data select,
.form-data select option,
.entry-form input {
  width: 100% !important;
  outline: none !important;
  border: 1px solid #c9c9c9 !important;
  padding: 10px !important;
  border-radius: 4px !important;
  background-color: rgb(232, 240, 254);
}

.entry-form .btn {
  border: none;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background-color: tomato;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.entry-form .btn-google {
  border: 1px solid #d0d5dd;
  padding: 4px;
  display: flex;
  justify-content: center;
  border-radius: 4px;
}

.entry-form .sign_in_google {
  display: flex;
  align-items: center;
  color: #6c6c6c;
  gap: 8px;
}
.entry-form .condition {
  display: flex;
  gap: 8px;
}

.entry-form .forgot-password {
  font-size: 12px;
  font-weight: bold;
  color: tomato;
  align-self: end;
  cursor: pointer;
}

.condition p {
  max-width: 300px;
}

.entry-form p span {
  color: tomato;
  font-weight: 500;
  cursor: pointer;
}

.validation {
  gap: 20px;
}

.validation .validation-text {
  background-color: #d5efdb;
  color: #6d967d;
  margin: 0px 20px;
  padding: 12px 24px;
  border-radius: 4px;
}

.validation input {
  width: 90% !important;
  outline: none !important;
  border: 1px solid #c9c9c9 !important;
  padding: 10px !important;
  border-radius: 4px !important;
  background-color: rgb(232, 240, 254);
}

.validation .validation-btn {
  border: none;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background-color: tomato;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-weight: bold;
  width: 90%;
}

.validation p {
  background: #d5efdb;
  color: green;
  padding: 4px 12px;
  border-radius: 12px;
  font-weight: bold;
  align-self: baseline;
  margin-left: 20px;
  cursor: pointer;
}

@media (max-width: 800px) {
  .card img {
    display: none;
  }
  .condition p {
    max-width: 270px;
  }
}

.spinner-login {
  width: 16px;
  height: 16px;
  place-self: center;
  border: 2px solid white;
  border-top-color: #6c6c6c;
  border-radius: 50%;
  animation: rotate 1s infinite;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.entry-form label {
  align-self: baseline;
  font-size: 12px;
  color: #6c6c6c;
}

.entry-form .btn-group {
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn-group .light-btn {
  border: none;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background-color: gray;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-weight: bold;
  width: 84px;
}

.entry-form .dark-btn {
  border: none;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background-color: tomato;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-weight: bold;
  width: 84px;
}
